
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPopCompetitionLabel">Create or edit a Pop Competition</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.popCompetition.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.popCompetition.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                    ng-model="vm.popCompetition.title"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="vm.popCompetition.status" id="field_status">
                <option value="NOTSTART">NOTSTART</option>
                <option value="CONTRIBUTE_BEGIN" data-translate="pcmsApp.CompetitionStatus.CONTRIBUTE_BEGIN">CONTRIBUTE_BEGIN</option>
                <option value="CONTRIBUTE_FINISH" data-translate="pcmsApp.CompetitionStatus.CONTRIBUTE_FINISH">CONTRIBUTE_FINISH</option>
                <option value="VOTE_BEGIN" data-translate="pcmsApp.CompetitionStatus.VOTE_BEGIN">VOTE_BEGIN</option>
                <option value="VOTE_FINISH" data-translate="pcmsApp.CompetitionStatus.VOTE_FINISH">VOTE_FINISH</option>
                <option value="NOTICE">NOTICE</option>
                <option value="DELETED">DELETED</option>
                <option value="DELAY">DELAY</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_startDate">Start Date</label>
                <div class="input-group">
                    <input id="field_startDate" type="text" class="form-control" name="startDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.popCompetition.startDate" is-open="vm.datePickerOpenStatus.startDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('startDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_stopDate">Stop Date</label>
                <div class="input-group">
                    <input id="field_stopDate" type="text" class="form-control" name="stopDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.popCompetition.stopDate" is-open="vm.datePickerOpenStatus.stopDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('stopDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_resultUrl">Result Url</label>
            <input type="text" class="form-control" name="resultUrl" id="field_resultUrl"
                    ng-model="vm.popCompetition.resultUrl"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_contentUrl">Content Url</label>
            <input type="text" class="form-control" name="contentUrl" id="field_contentUrl"
                    ng-model="vm.popCompetition.contentUrl"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_assetDir">Asset Dir</label>
            <input type="text" class="form-control" name="assetDir" id="field_assetDir"
                    ng-model="vm.popCompetition.assetDir"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_articleType">Article Type</label>
            <select class="form-control" name="articleType" ng-model="vm.popCompetition.articleType" id="field_articleType">
                <option value="SINGLE">SINGLE</option>
                <option value="GROUP">GROUP</option>
                <option value="SINGLE_GROUP" data-translate="pcmsApp.ArticleType.SINGLE_GROUP">SINGLE_GROUP</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_competitionType">Competition Type</label>
            <select class="form-control" name="competitionType" ng-model="vm.popCompetition.competitionType" id="field_competitionType">
                <option value="ONLINE">ONLINE</option>
                <option value="OFFLINE">OFFLINE</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_remark">Remark</label>
            <input type="text" class="form-control" name="remark" id="field_remark"
                    ng-model="vm.popCompetition.remark"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
