<div>
    <h2>Pop Pictures</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="pop-picture.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Pop Picture
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="picPath"><span>Pic Path</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="remark"><span>Remark</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="shootAddress"><span>Shoot Address</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="shootDate"><span>Shoot Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="contributeId"><span>Contribute</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="popPicture in vm.popPictures track by popPicture.id">
                    <td><a ui-sref="pop-picture-detail({id:popPicture.id})">{{popPicture.id}}</a></td>
                    <td>{{popPicture.picPath}}</td>
                    <td>{{popPicture.remark}}</td>
                    <td>{{popPicture.shootAddress}}</td>
                        <td>{{popPicture.shootDate | date:'mediumDate'}}</td>
                    <td>
                        <a ui-sref="pop-contribute-detail({id:popPicture.contributeId})">{{popPicture.contributeId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="pop-picture-detail({id:popPicture.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="pop-picture.edit({id:popPicture.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="pop-picture.delete({id:popPicture.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
