<div>
    <h2>Pop Award Configs</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="pop-award-config.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Pop Award Config
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span>Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="amount"><span>Amount</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="background"><span>Background</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="template"><span>Template</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="subjectId"><span>Subject</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="popAwardConfig in vm.popAwardConfigs track by popAwardConfig.id">
                    <td><a ui-sref="pop-award-config-detail({id:popAwardConfig.id})">{{popAwardConfig.id}}</a></td>
                    <td>{{popAwardConfig.name}}</td>
                    <td>{{popAwardConfig.amount}}</td>
                    <td>{{popAwardConfig.background}}</td>
                    <td>{{popAwardConfig.template}}</td>
                    <td>
                        <a ui-sref="pop-subject-detail({id:popAwardConfig.subjectId})">{{popAwardConfig.subjectId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="pop-award-config-detail({id:popAwardConfig.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="pop-award-config.edit({id:popAwardConfig.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="pop-award-config.delete({id:popAwardConfig.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
